@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Tinos&display=swap');

header{
   font-family: "fira sans", sans-serif;
   font-size: x-large;
   font-weight: 700;
   text-align: center;
   margin-top: 2em;
   margin-bottom: 0em;
}
 
body {
   background-color: #DCEFFF;
}

main{
   margin:1.5%;
}

p{
   font-family: "Tinos", serif;
   font-size: 1.2em;
   text-align: justify;
   
}

h1 {
   font-family: "fira sans";
   font-size: 5em;
   font-weight: 1000;
   text-align: center;
   background-color: #98CCED;
}

h2{
   font-family: "fira sans", sans-serif;
   
}

h3{
   font-family: "fira sans", sans serif;
   
}

h4{
   
   font-family: "fira sans", sans serif;
}

li{
   font-family: "fira sans", sans serif;
   font-size: 1.3em;
   font-weight: bold;
   margin-left: 1%;
}

#image{
   margin: auto;
   border-radius: 1%;
   display:flex;
   width: 60%;
   height: auto;
   
   justify-content: center;
}

.links{ 
   font-family: "Tinos", serif;
   font-size: 1em;
   font-weight: 400;
}



footer{
   margin-left: 0px;
   border: 0px;
   padding-left: 1.5%;
   padding-top: 0.5px;
   padding-bottom: 0.5px;
   background-color: #012245;

   font-family: "Tinos", serif;
   color:#98CCED;
}